
.ej3{
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
}

.ej3-item{
    background-color: brown;
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 30px;
}

.ej1 {
    background-color: #dddddd;
    justify-content: flex-end;
    display: table-row;
}

.ej1-item{
    background-color: brown;
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 30px;
}

.ej2 {
    background-color: #dddddd;
    justify-content: center;
    display: flex;
}

.ej2-item{
    background-color: brown;
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 30px;
}