.titulo{
    color: rgb(0, 0, 0);
}


.container{
    text-align: center;  /* por que no se centra ? */
    align-content: center;  /* por que no se centra ? */
    align-self: center;  /* por que no se centra ? */
}

.item{
color: red;
font-size: 25px;
border: red;
}


.parrafo{
    color: rgb(147, 148, 148);
    background-color: gray;
    box-sizing: border-box;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 5px #888; /*que esta mal ? no anda .-. ?  */
    background: linear-gradient(to bottom, rgb(0, 0, 0), red);


    text-align: center;  /* por que no se centra ? */
    align-content: center;  /* por que no se centra ? */
    align-self: center;  /* por que no se centra ? */

}