@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size:100%;
}
.contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}
nav {
	background: #CC3910;
	height: 100px;
	width: 160px;
}
ul {
	list-style-type:none;
}
a {
	color:#F1F2C0;
	text-decoration: none;
}
section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
	height: 150px;
}
aside {
	background: #CCC59E;
	float: right;
	width: 190px;
}



/* configuracion del grid */

.contenedor > .lista {
	grid-area: lista;
}

.contenedor > .lista-item {
	grid-area: lista-item;
}

.contenedor > .h1-title {
	grid-area: h1-title;
}

.contenedor > .h2-title {
	grid-area: h2-title;		
}

.contenedor > .h3-title {
	grid-area: h3-title;		
}

.contenedor {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas: "h1-title h1-title h1-title"
						  "lista h2-title h3-title"
						  "null null null" ;
}



/* Media */



@media screen and (max-width: 800px){

	.contenedor {
		grid-template-columns: repeat(1, 1fr);
		grid-template-areas: "h1-title"
						     "lista"
							 "h2-title"
							 "h3-title"

	}

	nav,
	.section,
	.aside {
		height: auto;
		width: auto;
		margin: 0;
	}
}
