.titulo{
    color: rgb(0, 255, 115);
}

.container{
    text-align: center;
}

.item{
    color: red;
    font-size: 25px;
    border: red;
}

.parrafo{
    background-color: gray;
    box-sizing: border-box;
}