

/* Cambia Imgen de fondo */

body {
  background: #03001e;
  background: -webkit-linear-gradient(to right, #fdeff9, #681b53, #7303c0, #03001e);
  background: linear-gradient(to right, #6d656b, #aa2687, #7303c0, #03001e);

}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-template-areas:
   "left null right" 
   "left null right" 
   "left null right" 
   "left null right" 
   "left null right" 
   "left null right";
}

.contenedor>div{
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    
}

.contenedor .header {
    background: #26475a;
    color: #fff;
    
}

.left{
  grid-area: left;
}
.right{
  grid-area: right;
}


.load {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  opacity: 0.7
}


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 */
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */




/* 
@media screen and (max-width: 768px) {
  .contenedor {
      grid-template-areas: 
      "left null right" 
      "left null right" 
      "left null right" 
      "left null right" 
      "left null right" 
      "left null right";
  }
} */